odoo-test-helper
odoo-addon-connector_importer @ git+https://github.com/OCA/connector-interfaces.git@refs/pull/156/head#subdirectory=connector_importer
odoo-addon-connector_importer_api @ git+https://github.com/OCA/connector-interfaces.git@refs/pull/159/head#subdirectory=connector_importer_api
